body{
    background: rgb(193,193,193);

}

a,p,em,strong,input,textarea,label{font-size:50px;text-align:center;}
h1{font-size:70px;text-align:center;}
h2{font-size:65px;text-align:center;}
h3{font-size:60px;text-align:center;}
h4{font-size:55px;text-align:center;}
 


