
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

*{
margin: 0;
	padding: 0;
}

body {
	font-family:  Helvetica, Arial;
	font-size: 14px;
	color: #3C3D3F;
	background: url(images/img04.jpg) #2B2522 no-repeat left 400px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #2B2522;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
	margin-top:10px;
}

h3 {
	font-size: 1.6em;
	font-weight:bold;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: underline;
	color: #2B2522;
}

a:hover {
	text-decoration: none;
}

#wrapper {
	margin: 0 auto;
	padding: 0;

}

/* Header */


#header {
	margin: 0 auto;
	padding: 0;
	background: #2D2722 url(images/img01.jpg) repeat-x left top;
	height:250px;
	
}

/* Logo */

#logo_img {
	

}

#logo{
	float: left;
	margin: 0;
	padding:0;
	color: #000000;
	height:250px;	
	width:100%;
}

#logo_main{
	    background:url(images/logo.png) no-repeat top left ;
	    background-size:230px;
		height:250px;
	
}


#logo h1, #logo p {

}

#logo h1 {
	padding: 20px 0px 0px 0px;
	letter-spacing: -1px;
	font-size: 4.5em;
	color: #FFF;
	text-align:center;
	margin: 0;
	color: #000000;
	width:100%;
	
	
}

#logo h1 a {
	color: #FFF;
	}

#logo h1 span {
}

#logo p {
	margin: 0;
	padding: 0px 0 0 32px;
	font-size:2.5em;
	font-style: italic;
	color: #FFF;
	text-align:center;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #665E5A;
}

/* Menu */

#menu {
position:relative;
top:-115px;
}

.post{
	position:relative;
top:-125px;
	}

#menu ul {
	
	padding: 0px 0px 0px 0px;
	line-height: normal;


}

#menu li {
	list-style-type:none;
	width:16.3%;
		display: inline-block;
		background: #4B402E;
				border: 1px solid #CCC;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius:15px;
padding: 8px 0px;

}

#menu a {
	display:block;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
	

}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

#main{
	margin:0px auto;
	width:65%;

	
}

#content {
	padding: 40px 30px 0px 30px;
	background: #FFFFFF;
	border: 1px solid #FFF;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius:25px;
margin-top:-130px;

}

#pie{
	padding: 10px 30px 10px 30px;
	background: #FFFFFF;
	border: 1px solid #FFF;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius:25px;

margin:0px auto;
	

}

#pie_left{text-align:left;float:left;}
#pie_right{text-align:right;float:right;}

#pie_left{width:60%;}
#pie_right{width:40%;}

.entry{}
#slider_container{position:relative;}
#slides{position:relative;margin:0 auto !important;width:600px; !important;}
 .tel{font-size:25px !important;}
 
 .entry ul li{list-style-type:circle;margin-left:25px;}
 
 .principal{float:left;width:60%;}
 .facebook{}
 
 input,textarea{border: 1px solid #599100 !important;} 
 
 
 input.enviar {
 color:#FFF !important;
 background:#599100;
 padding:5px 20px;
 border:none;
 }
